<html>
    <nav class = "navbar navbar-light bg-light">
        <div class = "container-fluid">
            <div class="navbar-header">
                <a class="btn btn-link" href="{% url 'djangoapp:index' %}">Home Page</a><a class="btn btn-link" href="#">Page Two</a>
            </div>
            <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a><!--Add:  w/ Brackets-->
        </div>
        <!--Add more content below!-->
        <ul class="nav navbar-nav navbar-right">
        <!--Add: % if user.is_authenticated % w/ Brackets-->
        <li>
             <a class="btn btn-link" href="#">Username Placeholder</a>
             <!--Add: user.first_name w/ Double Brackets-->
             <!--Add: user.username w/ Parenthesis + Double Brackets-->
             <a class="btn btn-link" href="#">Logout</a>
             <!--Add: % url 'djangoapp:logout' % w/ Brackets-->
        </li>
        <!--Add: % else % w/ Brackets-->
        <li>
             <form class="form-inline" method="post"><!--Add: >Action< % url 'djangoapp:login' % w/ Brackets-->
                <!--Add: % csrf_token % w/ Brackets-->
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="Username" name="username" >
                     <input type="password" class="form-control" placeholder="Password" name="psw" >
                     <button class="btn btn-primary" type="submit">Login</button>
                     <a class="btn btn-link" href="#">Sign Up</a><!--Add: % url 'djangoapp:registration' % w/ Brackets-->
                </div>
             </form>
        </li>
        <!--Add: % endif % w/ Brackets-->
        </ul>
    </nav>
    <title>Best Cars: About Us</title>
    <h1>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h1>
    <p>Please feel free to browse about our expansive collection of Cars!</p>
</html>